<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- MAIN CSS -->
        <link rel="stylesheet" href="/style.css" />

        <title>Product Details</title>
    </head>
    <body class="product_details_body">
        <%- include('partials/header') %>

        <div class="product_details">
            <h2>Product Detail</h2>
            <div class="product_detail">
                <div class="img_div">
                    <img src="/<%=product.image %>" alt="image">
                </div>
                <div class="details_div">
                    <h1><%= product.name %></h1>
                    <h3 class="description"><%= product.description %></h3>
                    <h1 class="price"><%= product.price %>₹</h1>
                
                </div>
            </div>
        </div>












    </body>
</html>
